{% extends 'base.html' %}

{% block content %}
<!-- Offcanvas for mobile view (right side) -->
<div class="offcanvas offcanvas-end d-md-none" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Users</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            {% for user in user %}
            {% if user.id == current_user.id %}
            add people to chat
            {% else %}
            <li class="list-group-item">{{ user.name }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Sidebar for desktop view -->
<div class="col-md-3 d-none d-md-block bg-light">
    <div class="list-group">
        {% for user in user %}
        {% if user.id == current_user.id %}
        <h1>add people to chat</h1>
        {% else %}
        <a href="/chat/{{ user.id }}" class="list-group-item list-group-item-action"> 
            {{ user.name }} 
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>
    <!-- Chat box -->
    <div class="col-md-9 bg-white d-flex flex-column">
        Start a conversation
    </div>
{% endblock %}